/* Общие стили для страницы */

/* Стиль для секции main, чтобы сделать стики футер */
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* общий стиль для контентной секции */
.content-section {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Секция шапкой сайта и логотипом */

/* применяем стили для всей шапки */
.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  place-items: center;
  padding: 92px 0;
}

/* стили контейнера навигации */
.header__menu {
  display: flex;
  justify-self: flex-end;
}

/* стили для списка ссылок */
.header__links-list {
  display: flex;
  gap: 30px;
}

/* стили для пункта списка ссылок, padding-left необходим для центрирования маркера в списке */
.header__links-list-item {
  padding-left: 3px;
  font-size: 18px;
  line-height: 1.35;
  list-style: circle;
}

/* стили, чтобы сделать ссылку без кружочка */
.header__links-list-item_no-bullit {
  list-style: none;
}

/* стили для ссылок с underline в шапке сайта */
.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* стили активных ссылок */
.header__link_active {
  text-decoration: none;
  white-space: nowrap;
}

/* стили для контейнера логотипа */
.header__logo {
  display: block;
  max-width: 137px;
}

/* стили для картинки с логотипом */
.header__logo-image {
  width: 100%;
}

/* стили для контейнера с адресом */
.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: inherit;
  line-height: 1.35;
}

/* стили, чтобы выравнивать блок с адресом. В футере используется другое выравнивание.*/
.header__address {
  justify-self: end;
  padding-right: 86px;
}

/* стили для ссылок с underline в блоке с адресом на сайте */
.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Секция с заголовком "Оно тебе надо" и обложкой */

/* стили для всей секции */
.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 51px 50px 51px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* стили для полупрозрачного блока поверх секции*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

/* стили для заголовка */
.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  align-self: center;
  line-height: 1;
}

.aligned-text_right {
  align-self: flex-end;
  line-height: 1;
}

/* стили для управления межбуквенным расстоянием в местах, где есть эти акценты; */
.letter-spacing-extended {
  letter-spacing: 0.6em;
}

/* стили для обнуления общего межбуквенного расстояния для последней буквы */
.no-letter-spacing {
  letter-spacing: normal;
}

/* стили контейнера для подзаголовка и кнопки */
.cover__description {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 4.2fr 1.8fr;
  align-items: center;
  padding: 136px 0 0 27px;
}

/* стили для текста подзаголовка */
.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

/* стили для кнопки «Сделать ставку */
.bet-button {
  justify-self: end;
  border: 1px currentColor solid;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

/* Секция с лотами в формате карточек */

/* стили для всей секции с карточками */
.lots {
  padding: 200px 24px 146px;
}

/* стили для заголовка секции */
.lots__heading {
  padding: 3px 0 14px 40px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 0.47px;
  text-transform: uppercase;
}

/* стили для списков карточек */
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding: 37px 0 30px 0;
}

/* стили для пункта списка карточки */
.lots__card-list-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 334px;
  list-style: none;
}

/* стили для ссылки, обрамляющая карточку */
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

/* стили для карточки */
.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 563px;
  padding: 50px 40px 49px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* стили для фона карточки про фильмы */
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

/* стили для фона карточки про книги */
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

/* стили для фона карточки про картины */
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* стили для заголовка карточки */
.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.19;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

/* стили для текста карточки */
.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}

/* стили для многоточия, тк там отличное от дефолтного межбуквенное расстояние */
.card__text-ellipsis {
  letter-spacing: 0.2em;
}

/* стили для ссылки Посмотреть больше */
.lots__look-more-link {
  display: block;
  padding: 8px 0 46px 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.23;
  text-decoration: underline;
  text-underline-offset: 4px;
}
/* ниже стили всей секции про аукцион */

/* стили для всей секции */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  gap: 25px;
  padding: 0 24px;
}

/* стили для колонок */
.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

/* стили для логотипа */
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

/* стили для картинки лого */
.about__logo-image {
  width: 148px;
}

/* стили для заголовка секции */
.about__title {
  padding: 104px 0 80px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

/* стили для текстового блока */
.about__text {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

/* все стили для футера */

/* стили для секции "подвал" */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 181px 50px 88px;
}

/* стили для блока навигации по списку ссылок */
.footer__menu {
  display: block;
  padding-left: 37px;
}

/* стили, чтобы выравнивать блок с адресом в подвале */
.footer__address {
  justify-content: flex-start;
}

/* стили для списка пуктов меню */
.footer__menu-list {
  text-align: center;
}

/* стили для пункта списка меню */
.footer__menu-list-item {
  font-size: 18px;
  line-height: 1.17;
  list-style: none;
}

/* стили для ссылок с underline в футере */
.footer__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* стили для активной ссылки меню */
.footer__link_active {
  text-decoration: none;
  white-space: nowrap;
}

/* стили для списка ссылок на соц сети */
.footer__social-list {
  display: flex;
  gap: 48px;
}

/* стили для пункта списка ссылок на соц сети */
.footer__social-list-item {
  list-style: none;
}

/* стили для иконки соц сети */
.footer__social-icon {
  width: 48px;
}
